* {
	margin: 0 auto;
	font-family: arial;
}
body {
	background: linear-gradient(180deg, #f3f3f5, #d3d8e9) no-repeat;
	min-height: 600px;
}
a {
	text-decoration: none;
	color: white;
}
.container {
	width: 1200px;
}
.head {
	padding: 25px 15px 15px 15px;
	background: linear-gradient(180deg, #4d67a2, #38589a);
	background-size: 20%;
	display: flex;

}
.header {
	background: linear-gradient(180deg, #4d67a2, #38589a);
}
.logo {
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin-left: 100px;
	font-family: arial;
	text-decoration: none;
}
#vhod {
	margin-top: 24px;
	background: #4065b4;
	border: 1px solid #27467e;
	color: white;
}
.signin {
	display: flex;
	font-size: 13px;
	text-align:left;
 	color:white;
}
input {
	margin-top: 10px;
}
.login {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}
.password {
	margin: 0 20px 0 50px;
}
#login {
	height: 14px;
	margin-bottom: 20px;
}
#loginlabel {
	font-size: 14px;
	margin-bottom: 5px;
}
.content {
	background: url(../img/GwFs3_KxNjS.png) 18% 25% no-repeat;
	height: 600px;
}
.facebook_helps {
	color: #0e385f;
	font-size:20px;
	font-weight: bold;
	padding-left: 110px;
	padding-top: 40px;
	margin: 0;
}
.promo {
	display: flex;
	justify-content: space-around;
}
.signup {
	text-align: left;
	width: 420px;
	margin-top: 30px;
}
.signup a {
	text-decoration: none;
	color: #045FB4;
}
#free {
	font-size: 18px;
	margin: 5px 0;
}
.small {
	font-size: 12px;
}
::placeholder {
	font-size: 20px;
	color: #999999;
}
#firstname {
	width: 180px;
	margin-right: 10px;
}
#surname {
	width: 180px;
}
.signup input {
	width: 400px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #bdc7d8;
}
.reg {
	color: #777;
	width: 300px;
	margin-right: 150px;
}
.data {

}
h1 {

}
#button {
	width: 180px;
	background: #69a74e;
	color: white;
	font-size: 18px;
	margin-bottom: 30px;
}



